@model tetantrulz.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<p>@Model.demo.name</p>
<p>Discount : @Model.demo.discount</p>
